[Unit]
Description=Predictor
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/app
EnvironmentFile=/app/app.env
ExecStart=/app/app

[Install]
WantedBy=multi-user.target
